@model Bus_company.Models.Timetable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h2 span {
        color: white;
        font: bold 24px/45px Helvetica, Sans-Serif;
        letter-spacing: -1px;
        background: rgb(0, 0, 0); /* на случай, если следующая строка не сработает */
        background: rgba(0, 0, 0, 0.7);
        padding: 10px;
    }

    .container {
        margin: 30px auto;
        width: 90%;
        height: 100%;
    }
</style>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title ">BUSТранзит</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <div>
                    @Html.Partial("_LoginPartial")

                </div>
            </nav>
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            @Html.ActionLink("Главная", "Index", "Home", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue" })
            @Html.ActionLink("Транспорт", "Bus", "Home", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue" })
            @Html.ActionLink("Рейсы", "Index", "Timetables", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue is-active" })
            @if (User.IsInRole("admin"))
            {@Html.ActionLink("Сотрудники и роли", "Employee", "Home", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue " })}
            @Html.ActionLink("О компании", "Company", "Home", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue" })
        </div>
    </header>

    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="tab-4">

            <div class="page-content">
                <div class="container">
                    <center>
                        <h2><span>Покупка</span></h2> 
                        <hr/> 
                        <br/>
                        <h3>Проверьте заказ</h3>                     
                            <img src="@Html.DisplayFor(model => model.Bus1.Preview)" width="550" height="370">
                        <br />
                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                                <tr>                                    
                                    <th class="mdl-data-table__cell--non-numeric">
                                        <center>
                                            Выезд
                                        </center>
                                    </th>
                                    <th>
                                        <center>
                                            Откуда
                                        </center>
                                    </th>
                                    <th>
                                        <center>
                                            Куда
                                        </center>
                                    </th>
                                    <th>
                                        <center>
                                            В пути
                                        </center>
                                    </th>
                                    <th>
                                        <center>
                                            Автобус
                                        </center>
                                    </th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        
                                        <td>
                                            @Html.DisplayFor(model => model.DateTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Trip1.begin)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Trip1.end)
                                        </td>
                                        <td>
                                            <center>
                                                @Html.DisplayFor(model => model.Trip1.length)
                                                км
                                                <br />
                                                @Html.DisplayFor(model => model.Trip1.time)
                                                ч
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                @Html.DisplayFor(model => model.Bus1.Model)
                                            </center>
                                        </td>
                                    </tr>                                
                            </tbody>
                        </table>
                       
                        <div>                                 
                            <h2><span>Стоимость: @Html.DisplayFor(model => model.Price_place)P</span></h2>
                            @Html.ActionLink("Отмена", "Index", null, new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" })
                            @Html.ActionLink("Подтвердить", "Oplata", new { id = Model.Id}, new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" })  
                        </div>
                        @ViewBag.Web
                         
                        <br />
                        
                    </center>
                </div>
            </div>
        </section>
    </main>
</div>
   

