@model Bus_company.Models.Trip

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h2 span {
        color: white;
        font: bold 24px/45px Helvetica, Sans-Serif;
        letter-spacing: -1px;
        background: rgb(0, 0, 0); /* на случай, если следующая строка не сработает */
        background: rgba(0, 0, 0, 0.7);
        padding: 10px;
    }

    .container {
        margin: 30px auto;
        width: 40%;
        height: 100%;
    }
</style>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title ">BUSТранзит</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <div>
                    @Html.Partial("_LoginPartial")

                </div>
            </nav>
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            @Html.ActionLink("Главная", "Index", "Home", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue" })
            @Html.ActionLink("Транспорт", "Bus", "Home", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue" })
            @Html.ActionLink("Рейсы", "Index", "Timetables", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue" })
            @if (User.IsInRole("admin"))
            {@Html.ActionLink("Сотрудники и роли", "Employee", "Home", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue " })}
            @Html.ActionLink("О компании", "Company", "Home", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue" })
        </div>
    </header>

    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="tab-4">

            <div class="page-content">
                <div class="container">
                    <center>
                        <h2><span>Создать маршрут</span></h2>
                        <hr />
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>Маршрут</h4>
                                <br/>
                                <br />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    @Html.Label("Начало", htmlAttributes: new { @class = "control-label col-md-2 mdl-textfield__label" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.begin, new { htmlAttributes = new { @class = "form-control mdl-textfield__input" } })
                                        @Html.ValidationMessageFor(model => model.begin, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    @Html.Label("Конец", htmlAttributes: new { @class = "control-label col-md-2 mdl-textfield__label" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.end, new { htmlAttributes = new { @class = "form-control mdl-textfield__input" } })
                                        @Html.ValidationMessageFor(model => model.end, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    @Html.Label("Длина", htmlAttributes: new { @class = "control-label col-md-2 mdl-textfield__label" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.length, new { htmlAttributes = new { @class = "form-control mdl-textfield__input" } })
                                        @Html.ValidationMessageFor(model => model.length, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    @Html.Label("Время", htmlAttributes: new { @class = "control-label col-md-2 mdl-textfield__label" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.time, new { htmlAttributes = new { @class = "form-control mdl-textfield__input" } })
                                        @Html.ValidationMessageFor(model => model.time, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-default mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" })
                                        <input type="submit" value="Создать" class="btn btn-default mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" />
                                    </div>
                                </div>
                            </div>
                        }
                    </center>
                </div>
            </div>
        </section>
    </main>
</div>
