@model Bus_company.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}
<style>
        h2 span {
            color: white;
            font: bold 24px/45px Helvetica, Sans-Serif;
            letter-spacing: -1px;
            background: rgb(0, 0, 0); /* на случай, если следующая строка не сработает */
            background: rgba(0, 0, 0, 0.7);
            padding: 10px;
        }
     .container {
        
        margin: 30px auto;
        width: 25%;
        height: 100%;
        }
</style>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title ">BUSТранзит</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <div>
                    @Html.Partial("_LoginPartial")

                </div>
            </nav>
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            @Html.ActionLink("Главная", "Index", "Home", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue" })
            @Html.ActionLink("Транспорт", "Bus", "Home", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue" })
            @Html.ActionLink("Рейсы", "Index", "Timetables", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue" })
            @if (User.IsInRole("admin"))
            {@Html.ActionLink("Сотрудники и роли", "Employee", "Home", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue" })}
            @Html.ActionLink("О компании", "Company", "Home", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue" })
        </div>
    </header>

    <!-- Tabs -->

    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="tab-1">

            <div class="page-content">
                <div class="container">
                    
                    <h2><span>Регистрация</span></h2>

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Создайте аккаунт.</h4>
                        <hr />
                        <div class="mdl-color-text--white mdl-color--red-800">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                        </div>

                        <div>
                            <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                @Html.LabelFor(m => m.Email, new { @class = "mdl-textfield__label col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control mdl-textfield__input" })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                @Html.LabelFor(m => m.Name, new { @class = "mdl-textfield__label col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control mdl-textfield__input" })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                @Html.LabelFor(m => m.Surname, new { @class = "mdl-textfield__label col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control mdl-textfield__input" })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                @Html.LabelFor(m => m.Sex, new { @class = "mdl-textfield__label col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Sex, new { @class = "form-control mdl-textfield__input" })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                @Html.LabelFor(m => m.Password, new { @class = " mdl-textfield__label col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control mdl-textfield__input" })
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "mdl-textfield__label col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "mdl-textfield__input form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 ">
                                <input type="submit" class="btn btn-default mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="Зарегистрировать" />
                            </div>
                        </div>


                    }

                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }
                   
                </div>
            </div>

            
        </section>

    </main>
</div>
