<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Material/material.min.css")" rel="stylesheet" type="text/css" />
    <script defer src="@Url.Content("~/Scripts/Material/material.min.js")"></script>
</head>
<body>
    

    @RenderBody()

    @RenderSection("scripts", required: false)


</body>
</html>
